* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Montserrat', sans-serif;
}

:root     {
    --text-color: #74767b;
    --hover-color: #adff2f;
    --title-color:white;
    }


.main {
    position: absolute;
}


.aside {
    width: 20vw;
    background-color: black;
    height: 100vh;
    min-height: 400px;
    padding: 1%;
    float: left;
}


#main-header {
    position:fixed;
    top:0px;
    right:0px;
    z-index: 30;
    background-color: rgba(0, 0, 0, 0.4);
    height: 10vh;
    width: 80vw;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

#player {
    width: 100vw;
    background-color: #282828;
    height: 10vh;
    position:fixed;
    bottom:0px;
    right:0px;
    z-index: 30;
}

#main-container {
    padding-top: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    width: 80vw;
    background-color: #141922;
    height: 90vh;
    float: right;
    overflow-y: auto;
}

#main-list {
    margin-top: 10vh;
    text-align: center;

}

#main-list ul li {
    display: inline-block;
    list-style: none;
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9em;
}

#main-list ul li:hover {
    color: white;
}

#recently > h2 {
    padding-top: 2vw;
    color: var(--title-color);
}

#recently .album-container {
    padding: 1vw;
}

#recently .album {
    padding-left: 1vw;
}



#recently .album > img {
    width: calc((80vw/6) - 2vw);
    aspect-ratio: 1:1;
}