* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Montserrat', sans-serif;
}

:root     {
    --text-color: #74767b;
    --hover-color: #adff2f;
    --title-color:white;
    }


.aside {
    width: 20vw;
    background-color: black;
    height: 100vh;
    min-height: 400px;
    padding: 1%;
}


#main-header {
    position:fixed;
    top:0px;
    right:0px;
    z-index: 30;
    background-color: rgba(0, 0, 0, 0.4);
    height: 10vh;
    width: 80vw;
}

#main-container {
    padding-top: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    width: 80vw;
    background-color: #141922;
    height: 90vh;
    overflow-y: auto;
}

#main-list {
    margin-top: 10vh;
    text-align: center;
}

#main-list ul li {
    display: inline-block;
    list-style: none;
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9em;
}

#main-list ul li:hover {
    color: white;
}

.title-section {
    color: var(--title-color);
    padding-top: 1vw;
    font-weight: bold;
}

.subtitle-section {
    color: var(--text-color);
    padding-top: 1vw;
    font-weight: bold;
    font-size: 0.7em;
}

.album-container {
    padding: 1em 0;
}

.album {
    padding-right: 1vw;
}

.info-album {
    text-align: center;
}

.info-album > h4 {
    padding: 0.5em;
    color: var(--title-color);
    font-weight: bold;
}

.info-album > p {
    padding-top: 0.2em;
    color: var(--text-color);
    font-size: 0.7em;
    font-weight: bold;
}


.album > img {
    width: calc((80vw/6) - 2vw);
    aspect-ratio: 1/1;
}


.album-round > img {
    width: calc((80vw/6) - 2vw);
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.album-round {
    padding-right: 1vw;
}





#player {
    width: 100vw;
    background-color: #282828;
    height: 10vh;
    position:fixed;
    bottom:0px;
    right:0px;
    z-index: 30;
}
