/* REGOLE GENERALI */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Montserrat', sans-serif;
}

:root     {
    --text-color: #74767b;
    --hover-color: #adff2f;
    --title-color:white;
    }


/* CONTEINER PRINCIPALE */


#main-container {
    padding-top: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    width: 85vw;
    background-color: #141922;
    height: 90vh;
    overflow-y: auto;
}


#main-list {
    margin-top: 10vh;
    text-align: center;
}


#main-list ul li {
    display: inline-block;
    list-style: none;
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;
    padding-right: 1.3em;
}


#main-list ul li:hover {
    color: white;
}


.title-section {
    color: var(--title-color);
    padding-top: 1vw;
    font-weight: bold;
}


.subtitle-section {
    color: var(--text-color);
    padding-top: 1vw;
    font-weight: bold;
    font-size: 0.7em;
}


.album-container {
    padding: 1em 0;
}


.album {
    padding-right: 1vw;
}


.info-album {
    text-align: center;
}


.info-album > h4 {
    display: inline-block;
    padding: 0.5em;
    color: var(--title-color);
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
    max-width:fit-content;
}


.info-album > p {
    padding-top: 0.2em;
    color: var(--text-color);
    font-size: 0.7em;
    font-weight: bold;
}


.album > img {
    width: calc((85vw/6) - 2vw);
    aspect-ratio: 1/1;
}


.album-round > img {
    width: calc((85vw/6) - 2vw);
    aspect-ratio: 1/1;
    border-radius: 50%;
}


.album-round {
    padding-right: 1vw;
}


/* FINE CONTEINER PRINCIPALE */


/* BARRA LATERALE */

#logo > img {
    max-width: 50%;
}

.aside {
    width: 15vw;
    background-color: black;
    height: 90vh;
    min-height: 400px;
    padding: 1%;
}

.principal-nav li, .playlist-nav li {
    padding-bottom: 0.8em;
    color: var(--text-color);
    list-style: none;
}

.principal-nav li:first-child, .playlist-nav li:first-child {
    padding-top: 1.5em;
}


.principal-nav ul li > img {
    width: 25px;
    vertical-align: middle;
}

.asideflex {
    display: flex;
    flex-direction: column;
}

.playlist-nav {
    flex-grow: 1;
}


/* FINE BARRA LATERALE */


#main-header {
    position:fixed;
    top:0px;
    right:0px;
    z-index: 30;
    background-color: rgba(0, 0, 0, 0.4);
    height: 10vh;
    width: 85%;
}



/* INIZIO PLAYER */

#player {
    width: 100vw;
    background-color: #282828;
    height: 10vh;

    position:fixed;
    bottom:0px;
    right:0px;
    z-index: 30;
}


#inplay {
    width: 60px;
}

.inplay-info {
    padding-left: 0.5em;
    width: 50px;

}

.inplay-info h4 {
    font-size: 0.8em;
    color: var(--title-color);
}

.inplay-info p {
    font-size: 0.5em;
    color: var(--text-color);
    font-weight: bold;
    max-width: 45px;
}


#inplay img {
    max-width: 50px;
    margin-left: 10px;
    aspect-ratio: 1/1;
}

.playicon {
    width: 80px;
    color: white;
    text-align: right;

}


#main-player ul li {
    list-style: none;
    display: inline-block;
}


#main-player {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-bar {
    padding-top: 10px;
}

.button-bar ul li {
    padding-left: 30px;
}

.button-bar ul li button {
    color: white;
    background-color: #282828;
    border: none;
}

.volume-bar {
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 10px;
    width: 100%;
    padding-top: 10px;
}


.progress-bar {
    width: 50%;
    height: 0.3em;
    border-radius: 10px;
    background-color: white;
  }

  .time {
    color: white;
    font-size: 0.7em;
    margin-left: 20px;
    margin-right: 20px;

  }



#config-icon {
    width: 15%;
    color: white;
    vertical-align: middle;
}

#config-icon > i {
    margin-right: 10px;
}


/* MEDIA QUERY  */


@media screen and (max-width:1100px) {

    .album > img {
        width: calc((85vw/4) - 2vw);
        aspect-ratio: 1/1;
    }
}

@media screen and (max-width:700px) {

    .album > img {
        width: calc((85vw/2) - 2vw);
        aspect-ratio: 1/1;
    }
}

@media screen and (max-width:600px) {

    .aside {
        width: 50px;

    }

}